.header{
    background: darkturquoise;
    padding: 10px 0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    color: white;
}

.header__inner-logo{
    font-size: 30px;
}

.back-button{
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #17a2b8;
}